<center>
<h1 style="background-color:#d9534f"><font color="white">Pika Parcel :: Your Calculated Shipping Costs</font></h1>
<br>
<h2>Based on your measurements and preferred shipping methods, your estimated cost is <font color=#d9534f>$<%= @cost %></font>.</h2>
</center>
